*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-size: 18px;
	line-height: 22px;
	color: #262c27;
}

a {
	text-decoration: none;
	color: inherit; /*наследование цвета от родителя*/
}

h1, h2 , h3 , h4, h5, h6, p {
	margin: 0;
}

.container {
	max-width: 1230px;
	padding: 0 15px;
	margin: 0 auto;
}

.header {
	background-image: url(../images/header-bg.jpeg);
	background-size: cover; /*растягиваем картинку на р-р контейнера*/
	background-repeat: no-repeat;
	background-position: center;
	min-height: 100vh; /*на всю высоту экрана*/
	position: relative;
}

.header::before {
	content: "";
	position: absolute;
	background-image: url(../images/header-decor.svg);
	bottom: 0;
	left: 0;
	right: 0;
	height: 456px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transform: translateY(40%);
	z-index: 2;
}

.header::after {
	content: "";
	position: absolute;
	background-image: url(../images/header-decor.svg);
	bottom: 0;
	left: 0;
	right: 0;
	height: 456px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transform: translateY(80%) rotate(180deg);
	z-index: 3;
}

.header__top {
	display: flex;
	align-items: center;
	padding: 57px 0;
	justify-content: flex-end;
	gap: 100px; /*отступ между кнопками*/
	font-family: 'Comfortaa', cursive;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 22px;
}

.logo path {
	transition: fill 0.3s ease;
}

.logo:hover path {
	fill: #0093A1;
	transition: fill 0.3s ease;
}

.header__btn {
	text-transform: uppercase;
	color: #fff;
	padding: 12px 71px;
	background-color: #262c27;
	border: none;
	cursor: pointer;
	transition: all 0.3s ease;
}

.header__btn:hover{
	background-color: #B9C400;
}

.header__content {
	min-height: calc(100vh - 161px);
	display: flex;
	align-items: center;
	justify-content: flex-end;
	position: relative;
}

.header__content-box {
	min-width: 550px;
	text-align: center;
	margin-right: 30px;
	color: #fff;
	font-family: 'Comfortaa', cursive;
	font-weight: 700;
}

.header__title {
	text-transform: uppercase;
	margin-bottom: 20px;
	font-size: 64px;
	line-height: 71px;
}

.header__text {
	font-size: 24px;
	line-height: 27px;
	margin-bottom: 20px;
}

.header__decor-text {
	position: absolute;
	bottom: 25px;
	color: #0093A1;
}

.header__decor-text--one {
	z-index: 1;
	right: 145px;
	bottom: 130px;
}

.header__decor-text--two {
	z-index: 4;
	left: 265px;
	bottom: 0;
}

.header__decor-text--one,
.header__decor-text--two {
	opacity: 0.3;
	font-family: 'Comfortaa', cursive;
	font-weight: 400;
	font-size: 130px;
	line-height: 145px;
}

.header__decor-text--three {
	max-width: 360px;
	right: 145px;
	font-family: 'Inter';
	font-style: italic;
	font-weight: 300;
	font-size: 32px;
	line-height: 39px;
	text-align: center;
	z-index: 4;
}