*,
*::after,
*::before {
	box-sizing: border-box;
}

img {
	object-fit: cover;
}

body {
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-size: 18px;
	line-height: 22px;
	color: #262c27;
}

a {
	text-decoration: none;
	color: inherit; /*наследование цвета от родителя*/
}

h1, h2 , h3 , h4, h5, h6, p {
	margin: 0;
}

ul {
	list-style-type: none;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 0;
}

.container {
	max-width: 1230px;
	padding: 0 15px;
	margin: 0 auto;
}

/* header start */

.header__top {
	display: flex;
	justify-content: flex-end;
}

.header__menu {
	position: absolute;
	display: flex;
	align-items: center;
	padding: 63px 0 0 0;
	justify-content: flex-end;
	gap: 100px; /*отступ между кнопками*/
	font-family: 'Comfortaa', cursive;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 22px;
	z-index: 5;
}

.logo path {
	transition: fill 0.3s ease;
}

.logo:hover path {
	fill: #0093A1;
	transition: fill 0.3s ease;
}

.header__btn {
	text-transform: uppercase;
	color: #fff;
	padding: 12px 71px;
	background-color: #262c27;
	border: none;
	cursor: pointer;
	transition: all 0.3s ease;
}

.header__btn:hover{
	background-color: #B9C400;
}

.header__phone {
	min-width: 120px;
}

/*header end*/

/*about start*/

.about {
	background-image: url(../images/header-bg.jpeg);
	background-size: cover; /*растягиваем картинку на р-р контейнера*/
	background-repeat: no-repeat;
	background-position: center;
	height: 100%;
	position: relative;
	padding-top: 104px;
	padding-bottom: 295px;
}

.about__content {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	
}

.about__content-box {
	text-align: center;
	margin-right: 30px;
	color: #fff;
	font-family: 'Comfortaa', cursive;
	font-weight: 700;
}

.about__title {
	text-transform: uppercase;
	margin-bottom: 20px;
	font-size: 64px;
	line-height: 71px;
	padding-top: 262px;
	padding-bottom: 20px;
}

.about__text {
	font-size: 24px;
	line-height: 27px;
	margin-bottom: 20px;
}

/*About__decor start*/

.about__decor-text {
	position: absolute;
	bottom: 0;
	color: #0093A1;
}

.about__decor-text--one,
.about__decor-text--two {
	opacity: 0.3;
	font-family: 'Comfortaa', cursive;
	font-weight: 400;
	font-size: 130px;
	line-height: 145px;
}

.about__decor-text--one {
	z-index: 1;
	left: 55.520833%;
	bottom: 0;
	transform: translateY(-38%);
}

.about__decor-text--two {
	z-index: 4;
	right: 50%;
	transform: translateY(60%);
}

.about__decor-text--three {
	max-width: 360px;
	left: 55%; /* 1066px/1920 */
	font-family: 'Inter';
	font-style: italic;
	font-weight: 300;
	font-size: 32px;
	line-height: 39px;
	text-align: center;
	z-index: 4;
	transform: translateY(75%);
}

/*About__decor end*/

/*about end*/

/*trees start*/

.trees {
	background-color:#262C27;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 180px;
	position: relative;
	z-index: 1;
} 

.trees::before { 
	content: "";
	position: absolute;
	background-image: url(../images/header-decor.svg);
	bottom: 0;
	left: 0;
	right: 0;
	height: 240%; 
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transform: translateY(7%);
	z-index: 2;
}

.trees::after {
	content: "";
	position: absolute;
	background-image: url(../images/header-decor.svg);
	bottom: 0;
	left: 0;
	right: 0;
	height: 456px; 
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transform: translateY(50%) rotate(180deg);
	z-index: 3;
}  

/*trees end*/

/*info start*/

.info {
	background-image: url(../images/info-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.info__top {
	display: flex;
	gap: 80px;
	position: relative;
	padding-bottom: 580px;
	padding-top: 90px;
}

.info__top-text {
	width: 290px;
	z-index: 5;
	padding-top: 245px;
	color: #FFFFFF;
}

.info__top-text--one {
	padding-bottom: 125px;
}

.info__top-text--two {
	border-bottom: 1px solid #fff;
}

.info__top-img {
	z-index: 5;
}

.popup-btn {
	border: none;
	cursor: pointer;
	background-color: transparent;
	transition: all .3s ease;
}

.info-btn {
	position: absolute;
	top: 45.5%;
}

.popup-btn:active path {
	fill: #B9C400;
}

.popup-btn:active circle {
	stroke: #B9C400;
}

.popup-btn span {
	padding-top: 12px;
	display: block;
	color: #FFFFFF;
}

.popup-btn:active span {
	color: #0093A1;
}

.info__specs {
	display: flex;
	align-items: center;
	padding-bottom: 50px;
}

.info__specs-title {
	text-transform: uppercase;
	vertical-align: middle;
	font-family: 'Comfortaa';
	font-style: normal;
	font-size: 60px;
	line-height: 67px;
	color: #fff;
	padding-right: 13%;
}

.info__specs-list {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	padding-top: 15px;
	padding-bottom: 15px;
	min-width: 550px;
}

.info__specs-item {
	display: flex;
	justify-content: space-between;
	text-transform: uppercase;
	color: #fff;
}

.info__specs-item:last-child {
	padding-bottom: 15px;
}

.info__specs-caption {
	flex-basis: 35%;
	width: 60px;
	padding: 15px 0 0 10px;
}

.info__specs-text {
	flex-basis:65%;
	width: 520px;
	padding: 15px 0 0 17px;
}



/*Info end*/

/*Price start*/

.price {
	background-size: contain;
	height: 100%
	
}

.price__box {
	display: flex;
	align-items: center;
	padding-top: 150px;
}

.price__info {
	flex: 1 1 50%;
}

.price__title {
	text-transform: uppercase;
	font-family: 'Comfortaa';
	font-style: normal;
	font-weight: 400;
	font-size: 60px;
	line-height: 67px;
	color: #0093A1;
	padding-bottom: 50px;
}

.price__list {
	width: 292px;
}

.price__caption {
	text-transform: uppercase;
	color: #262C27;
	padding-bottom: 5px;
	font-weight: 700;
}

.price__caption--first {
	color: #0093A1;
}

.price__text {
	padding-bottom: 25px;
}

.price__btn {
	text-transform: uppercase;
	cursor: pointer;
	border: 2px solid #0093A1;
	padding: 18px 197px;
	font-family: 'Comfortaa';
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 45px;
	color: #0093A1;
	background-color: transparent;
	margin-top: 24px;
	transition: all 0.3s ease;
}

.price__btn:hover {
	background-color: #B9C400;
	color: #262C27;
	border: 2px solid transparent;
}

.price__img {
	flex: 1 1 50%;
}

/*Price end*/

/*Technology start*/

.video {
	background-image: url(../images/technology-gb.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 1369px;
	position: relative;
}

.video-btn {
	position: absolute;
	top: 47.5%;
	right: 36.5%
}

/*Video end*/

/*Technology start*/

.technology {
	position: relative;
	padding-bottom: 150px;
	min-height: 700px;
}

.technology__wrapper {
	position: absolute;
	transform: translateY(-46%);
}

.technology__title {
	text-transform: uppercase;
	max-width: 470px;
	font-family: 'Comfortaa';
	font-style: normal;
	font-weight: 400;
	font-size: 60px;
	line-height: 67px;
	color: #262C27;
}

.technology__box {
	display: flex;
	gap: 68px;
}

.technology__info {
	flex: 1 1 40%;
}

.technology__image {
	flex: 1 1 60%;
}

.technology__list {
	padding-top: 52px;
	padding-left: 25px;
}

.technology__item {
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	color: #262C27;
	padding-bottom: 15px;

}

.technology__text {
	color: #262C27;
	max-width: 350px;
	padding-top: 165px;
}

.technology__image {
	display: grid;
	gap: 30px 24px;
	grid-template-columns: 481px 208px;
	grid-template-rows: 432px 300px;
	position: relative;
	padding: 72px 32px 52px;
}

.technology__image::before {
	content: "";
	border: 3px solid #262C27;
	border-radius: 200px 0px 300px;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;

}

.technology__img--one {
	grid-column: 1 / 3;
	border-radius: 400px 0px 0px 0px;
}

.technology__img--two {
	border-radius: 0px 0px 0px 300px;
}

/*Technology end*/

/*Gallery start*/

.gallery {
	padding-bottom: 150px;
}

.gallery__box {
	display: grid;
	gap: 20px;
	grid-template-columns: 300px 469px 391px;
	grid-template-rows: 340px 270px 270px;
}

.gallery__img--two {
	grid-column: 2 / -1;
	justify-self: end;
}

.gallery__img--six {
	grid-column: 2 / -1;
}

.gallery__text {
	background-color: #0093A1;
	border-radius: 0px 0px 0px 200px;
	font-style: italic;
	font-weight: 800;
	font-size: 32px;
	line-height: 39px;
	text-align: center;
	color: #FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*Gallery end*/

/*footer start*/

.footer {
	background-color: #262C27;
	padding-bottom: 82px;
}

.footer__top {
	display: flex;
	justify-content: space-between;
}

.form__title {
	text-transform: uppercase;
	font-family: 'Comfortaa';
	font-style: normal;
	font-weight: 400;
	font-size: 60px;
	line-height: 67px;
	color: #FFFFFF;
	padding-bottom: 37px;
	padding-top: 100px;
}

.footer-form__filed {
	display: block;
	border: 0;
	background-color: #262C27;
	border-bottom: 1px solid #FFFFFF;
	opacity: 0.4;
	padding-bottom: 10px;
	width: 500px;
	color: #FFFFFF;
	font-weight: 700;
	outline: none;
}

.footer-form__filed--name {
	margin-bottom: 67px;
}

.footer-form__filed--email {
	margin-bottom: 50px;
}

.footer-form__filed::placeholder {
	font-weight: 700;
	color: #FFFFFF;
	border: 0;

}

.footer-form__submit {
	margin-top: -27px;
}

.footer-form__submit {
	text-transform: uppercase;
	font-family: 'Comfortaa';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 22px;
	color: #000000;
	background-color: #FFFFFF;
	padding: 10px 66px;
	border: 0;
	margin-bottom: 97px;
}

.footer__logo {
	padding-top: 87px;
}

.footer__gallery-title {
	text-transform: uppercase;
	font-weight: 700;
	color: #FFFFFF;
	margin-bottom: 28px;
}

.footer__gallery {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 52px;
	margin-bottom: 48px;
}

.footer__list {
	display: flex;
	justify-content: space-between;
}

.footer__link {
	font-weight: 700;
	color: #FFFFFF;
}