*,
*::after,
*::before {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}

body {
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-size: 18px;
	line-height: 22px;
	color: #262c27;
}

a {
	text-decoration: none;
	color: inherit; /*наследование цвета от родителя*/
}

h1, h2 , h3 , h4, h5, h6, p {
	margin: 0;
}

.container {
	max-width: 1230px;
	padding: 0 15px;
	margin: 0 auto;
}

/* header start */

.header__top {
	display: flex;
	justify-content: flex-end;
}

.header__menu {
	position: absolute;
	display: flex;
	align-items: center;
	padding: 57px 0 0 0;
	justify-content: flex-end;
	gap: 100px; /*отступ между кнопками*/
	font-family: 'Comfortaa', cursive;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 22px;
	z-index: 5;
}

.logo path {
	transition: fill 0.3s ease;
}

.logo:hover path {
	fill: #0093A1;
	transition: fill 0.3s ease;
}

.header__btn {
	text-transform: uppercase;
	color: #fff;
	padding: 12px 71px;
	background-color: #262c27;
	border: none;
	cursor: pointer;
	transition: all 0.3s ease;
}

.header__btn:hover{
	background-color: #B9C400;
}

.header__phone {
	min-width: 120px;
}

/*header end*/

/*about start*/

.about {
	background-image: url(../images/header-bg.jpeg);
	background-size: cover; /*растягиваем картинку на р-р контейнера*/
	background-repeat: no-repeat;
	background-position: center;
	min-height: 860px; /*на всю высоту экрана*/
	max-height: 100vh; /*на всю высоту экрана*/
	position: relative;
}

.about__content {
	min-height: 80Vh; 
	display: flex;
	align-items: center;
	justify-content: flex-end;
	position: relative;
}

.about__content-box {
	min-width: 44%; 
	text-align: center;
	margin-right: 30px;
	color: #fff;
	font-family: 'Comfortaa', cursive;
	font-weight: 700;
}

.about__title {
	text-transform: uppercase;
	margin-bottom: 20px;
	font-size: 64px;
	line-height: 71px;
	padding-top: 252px;
}

.about__text {
	font-size: 24px;
	line-height: 27px;
	margin-bottom: 20px;
}

.about__text:last-child {
	margin-bottom: 315px;
}

.brand__decor{
	position: relative;
	min-height: 20Vh;
}

.brand__decor-text {
	position: absolute;
	bottom: 0;
	color: #0093A1;
}

.brand__decor-text--one {
	z-index: 1;
	right: 11.788618%; 
	bottom: 50%;
}

.brand__decor-text--two {
	z-index: 4;
	left: 21.544715%; 
	bottom: -30%;
}

.brand__decor-text--one,
.brand__decor-text--two {
	opacity: 0.3;
	font-family: 'Comfortaa', cursive;
	font-weight: 400;
	font-size: 130px;
	line-height: 145px;
}

.brand__decor-text--three {
	max-width: 360px;
	right: 145px;
	font-family: 'Inter';
	font-style: italic;
	font-weight: 300;
	font-size: 32px;
	line-height: 39px;
	text-align: center;
	z-index: 4;
	bottom: -15%;
}

/*
.trees {
	height: 18Vh; 
	background-color:#262C27;
}

.trees::before { 
	content: "";
	position: absolute;
	background-image: url(../images/header-decor.svg);
	bottom: 0;
	left: 0;
	right: 0;
	height: 37Vh; 
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transform: translateY(40%);
	z-index: 2;
}

.trees::after {
	content: "";
	position: absolute;
	background-image: url(../images/header-decor.svg);
	bottom: 0;
	left: 0;
	right: 0;
	height: 37Vh; 
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transform: translateY(110%) rotate(180deg);
	z-index: 3;
}  

.info {
	background-image: url(../images/info-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}

.info__top {
	display: flex;
	gap: 80px;
	align-items: flex-end;
	padding-top: 20%; 
}

.info__top-text {
	max-width: 290px;
}
/*
